#profile{
  height:200px;
  width: 200px;
  border-radius: 50%;
}

table img {
  height: 200px;
  width: 200px;

}

body{
  background-color: rgb(160, 218, 206);
}

h1,h2,h3{
  font-family: 'Montserrat', serif;
}

p{
  font-family: 'Open Sans', sans-serif;

}

a{
  text-decoration: underline;
  color:red;
}

a:hover{
  text-decoration: underline;
  color:blue;
}
